@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply tracking-tighter font-medium;
  }

  h1 {
    @apply font-bold;
    font-size: clamp(2.5rem, 1.6vw + 2.1rem, 3.5rem);
    line-height: clamp(3.25rem, 3.2vw + 2.45rem, 5.25rem);
  }

  h2,
  h3,
  h4 {
    @apply font-semibold;
  }

  h2 {
    font-size: clamp(2rem, 1.6vw + 1.6rem, 3rem);
    line-height: clamp(2.25rem, 3.12vw + 1.47rem, 4.2rem);
  }

  h3 {
    font-size: clamp(1.5rem, 1.6vw + 1.1rem, 2.5rem);
    line-height: clamp(1.65rem, 2.56vw + 1.01rem, 3.25rem);
  }

  body {
    @apply m-4 text-lg lg:text-xl;
  }
}
